body {
  height: 2000px;
  /* height: 100%; */
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.trans {
  opacity: 0.9;
}

.listtable {
  z-index: 1;
}

header {
  opacity: 1;
  
}



footer {
  /* position: fixed; */
  margin-top: 1000px;
  left: 0;
  bottom: 0;
  width: 100%;
}

main{
    
  min-height: 80vh;
}

Label {
  color: white !important;
}

h1{
  font-size: 1.8rem;
  padding:1rem 0;
  color: white;
}

h2{
  font-size: 1.4rem;
  padding:0.5rem 0;
  color: white;

}

h3{
  padding:1rem 0;
  /* color: white !important;   */
}

.center {
  text-align:center;
}
.rating span{
  margin:0.1rem;
}

/* .productcard {
  min-height: 450px;
} */

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.productimg {
  min-width:100%;max-width:100%;max-height:600px;min-height:600px;
}

.carousel img {
  display:block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  /* opacity: 1 !important; */
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

